.typo--xl {
  font-size: 1.5rem;
}

.typo--l {
  font-size: 1.25rem;
}

.typo--m {
  font-size: 1rem;
}

.typo--s {
  font-size: 0.875rem;
}

.typo--xs {
  font-size: 0.8125rem;
}

.typo--xxs {
  font-size: 0.6875rem;
}

.typo--bold {
  font-weight: bold;
}

.typo--semi {
  font-weight: 600;
}

.typo--text-primary {
  color: var(--primary-main-titles);
}

.typo--text-secondary {
  color: var(--secondary-text-icons);
}
