@import '../../shared/commonStyles.scss';

.button {
  padding: 0.5rem 1rem;
  border-width: 2px;
  border-color: transparent;
  border-style: solid;
  font-size: 0.875rem;
  border-radius: var(--roundness);
  background-color: var(--white);
  cursor: pointer;
  font-weight: 600;
  color: var(--primary-main-titles);

  &:hover {
    background-color: var(--white-hover);
    box-shadow: var(--shadow);
  }

  &:focus {
    outline: none;
  }

  transition: all 0.3s ease-in-out;
}

.raised {
  border-color: var(--primary-yellow);
  box-shadow: var(--shadow);
}

.primary {
  background-color: var(--primary-yellow);

  &:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
}
