:root {
    --white: #FFFFFF;
    --white-hover: #FEF9E2;
    --primary-yellow: #FFD95A;
    --primary-hover: #FFCA37;
    --secondary-yellow: #FFA701;
    --accent-color: #35BAB6;
    --accent-color-hover: #009D98;
    --green-positive-verified: #00CC6E;
    --red-error: #D45858;
    --primary-main-titles: #4C4C4C;
    --secondary-text-icons: #828282;
    --tertiary-field-borders: #ADADAD;
    --placeholders-inactive: #CCCCCC;
    --dividers-bg-bg-menu: #EFEFEF;
    --shadow: #00000033;
}