:root {
  --white: #ffffff;
  --white-hover: #fef9e2;
  --primary-yellow: #ffd95a;
  --primary-hover: #ffca37;
  --secondary-yellow: #ffa701;
  --accent-color: #35bab6;
  --accent-color-hover: #009d98;
  --green-positive-verified: #00cc6e;
  --red-error: #d45858;
  --primary-main-titles: #4c4c4c;
  --secondary-text-icons: #828282;
  --tertiary-field-borders: #adadad;
  --placeholders-inactive: #cccccc;
  --dividers-bg-bg-menu: #efefef;
  --shadow: 0 0.125rem 0.125rem #00000033;
  --roundness: 0.25rem;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

.placeholder {
  color: var(--placeholders-inactive);
}
